
    <h1 class="hometitle">
    <a href="/">Everyone Has a Doll</a>
    </h1>
    <br><br><br><br><br><br><br><br><br><br>

<div style="width:60%;height:50%;display:inline-block;text-align:left;">

<p class="text">
    &nbsp;&hearts;&nbsp;&hearts;&nbsp;<strong>Hi there! How is it going?</strong> 
    <br> <br>
    I was having a hard time last night and I felt really sad. 
    I don’t really want to talk to anyone cause I feel no one understands. 
    Everytime when I am upset, I hug my dolls. 
    I have two in my room. They have accompanied me for a long time whenever I am watching a movie or reading a book. 
    Holding my dolls with my arms make me calm somehow. They are cute. The cuteness heals my sadness sometimes. 
    Look at their innocent facial experssions and funny bodies. You just forget everything negative and not happy.
    
     <br><br> <br><br>&nbsp;&hearts;&nbsp;&hearts;&nbsp;<strong>Hi there! A doll does not only mean a doll.</strong>
    <br><br>
    A doll is something that makes you feel intimate, comfortable, calm, snug and positive. It might not look like a doll.
    But it gives you a sense of security. It could be a transparent vase, a hello kitty pillow, a necklace herited from your mum,
    a pair of blue gloves etc. You think it is so good to have them when you are sleeping in bed and think back of your day.
    
    </p>

<div>


<div class="home" style="-webkit-transform: rotate(-90deg);position:fixed;left:2%;top:50%;">
    <p>
    <strong><a href="/">Home</a></strong>
    </p>
</div>

<div class="contact" style="-webkit-transform: rotate(90deg);position:fixed;right:2%;top:50%;">   
    <p><strong><a href="/contact">Contact</a></strong></p>
    </div> 
