
	<h1 class="hometitle">
    <a href="/">Everyone Has a Doll</a>
    </h1>
    <br><br><br><br><br><br><br><br><br><br>
  <div style="width:60%;height:50%;display:inline-block;text-align:left;">

    <p class="text">
    &nbsp;&hearts;&nbsp;&hearts;&nbsp;<strong>Hi there!</strong> 
    <br> <br>
    Having problems in uploading? Having questions about dolls? or Just want to say Hi?
    
    <br><br>&nbsp;&hearts;&nbsp;&hearts;<a href="mailto:qiong.li@yale.edu">
    <i>Click Me</i></a>
    </p>

   <div>

   
    
  

    <div class="home" style="-webkit-transform: rotate(-90deg);position:fixed;left:2%;top:50%;">
    <p>
    <strong><a href="/">Home</a></strong>
    </p>
	</div>

	<div class="contact" style="-webkit-transform: rotate(90deg);position:fixed;right:2%;top:50%;">   
    <p><strong><a href="/contact">About</a></strong></p>
    </div> 
