body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ffffff;
  text-align:center;
  font-family:Helvetica, Arial;
}





.link{position: relative;
    left: 20px;
    cursor: auto;
     font-family:Helvetica, Arial;
}
a {
  color: #000000;
  text-decoration:none;
  cursor: auto;
   font-family:Helvetica, Arial;
  
}
h1{color:#000000;
  font-size:60px;
  text-align:center;
  font-weight: bold;
  font-family:Helvetica, Arial;
}

h2{color:#000000;
  font-size:30px;
  line-height: 1.2;
   font-family:Helvetica, Arial;
}

h3{font-size:35px;}

p{color:#000000;
  font-size:26px;
   font-family:Helvetica, Arial;
}

.title{margin-bottom:150px;}
.text{line-height: 1.2em;}

.hometitle{margin:20px 5px 5px 5px;}

